@font-face {
    font-family: Ancient;
    src: url(Ancient-Medium.ttf);
  }

  .primary-nav{
      display: inline;
  }

 .navbar{
    align-self: center;
    background: rgb(139, 42, 139);
    float: right;
 }

 .right-navbar{
     list-style-type: none;
 }

 h1{
    font-family: Ancient;
 }