@font-face {
    font-family: Ancient;
    src: url("BrickHack.io/Ancient-Medium.ttf");
  }

.container{
    list-style-type: none;
    display: inline;
}

.home-page{
    font-family: Ancient;
}

h1{
    font-size: 30;
}