@font-face {
  font-family: Ancient;
  src: url(Ancient-Medium.ttf);
}

@font-face {
  font-family: Boldy;
  src: url(Montserrat-VariableFont_wght.ttf);
}

.primary-nav > li {
  display: inline;
  border: white;
  color: blue;
}

.CoronaHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding: 20px;
}

.navbar :hover {
  color: gold;
}

.navbar > a {
  color: gold;
}

h2 {
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.corona {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

a {
  color: white;
  text-decoration: none;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  -o-object-fit: fill;
     object-fit: fill;
}

li {
  list-style-type: none;
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

h1 {
  font-family: Ancient;
  font: 500;
  margin: 0px;
  font-weight: bolder;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

body, html {
  margin: 0;
  padding: 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Emily, .Sandra, .cqladie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  padding: 20px;
  margin: 20px;
}

.mantra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: italic;
}

.testimonials-section {
  padding: 16px;
  margin: 16px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 10px;
  background: black;
}

.testimonials-section > * {
  background-color: white;
  border: 2px solid #fffbfb;
  margin: 0px;
  padding: 0px;
}

.final {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  text-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  background-color: #042353;
  color: white;
}

.boring {
  text-align: center;
}

.gif {
  margin: 0px;
  padding: 0px;
}

.mantra > * {
  font-family: 'Holtwood One SC', serif;
}

.Store > li :hover {
  text-decoration: underline;
}

.recipes > li :hover {
  text-decoration: underline;
}

.footer-3 > li :hover {
  text-decoration: underline;
}

.video {
  height: 100px;
  width: 100px;
  position: relative;
}

.media {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}

.video {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.corona {
  position: absolute;
  top: 16rem;
  right: 20rem;
}

.GenericBrandSlogan {
  font-family: Boldy;
  font-size: xx-large;
  position: absolute;
  top: 15rem;
  right: 30rem;
  font-weight: 1000;
  color: purple;
}
/*# sourceMappingURL=demo.css.map */